* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');

body {
    background-color: #cbe4f7;
    color: #403f3f;
}

.hero-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40vh;
    position: relative;
    background-color: #2CAEBA;
}

.hero-container .title {
    position: absolute;
    top: 30px;
    font-size: 35px;
    font-weight: 600;
    color: #FFF;
    font-family: 'Dancing Script', cursive;
}

.hero-container form {
    background-color: #FFF;
    padding: 10px;
    display: flex;
    align-items: center;
    border-radius: 3px;
    position: relative;
}

.hero-container form input[type="text"] {
    border: 1px solid #F1F5F8;
    padding: 8px 10px;
    padding-left: 25px;
    border-radius: 3px;
    margin-right: 8px;
}

.hero-container form input[type="submit"] {
    background-color: #2CAEBA;
    color: #FFF;
    border: 2px solid transparent;
    padding: 7px 10px;
    border-radius: 3px;
    cursor: pointer;
    transition: all 0.5s ease;
}

.hero-container form input[type="submit"]:hover{
    background-color: #FFF;
    color: #2CAEBA;
    border: 2px solid #2CAEBA;
}

.hero-container .search-icon {
    position: absolute;
    left: 15px;
    color: #565656;
}

.user-container {
    position: relative;
    width: 80%;
    max-width: 550px;
    margin: auto;
}

.user-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    position: absolute;
    width: 100%;
    top: -30px;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19),
            0 6px 6px rgba(0, 0, 0, 0.23);
}

.user-container::before{
    content: 'User';
    position: absolute;
    top: -58px;
    z-index: 10;
    left: 0px;
    padding: 5px 15px;
    background-color: #FFF;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.user-profile-pic {
    height: 100px;
    width: 100px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
}

.user-name {
    font-size: 16px;
    /* position: absolute; */
    text-align: left;
    /* left: 130px; */
}

.name{
    font-weight: 700;
}

.userName{
    font-size: 15px;
    font-weight: 400;
}

.follow{
    border: 2px solid #2CAEBA;
    padding: 5px 8px;
    border-radius: 20px;
    color: #2CAEBA;
    transition: all 0.5s ease;
    cursor: pointer;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.follow:hover{
    background-color: #2CAEBA;
    color: #fff;
}

.top-container{
    display: flex;
    justify-content: space-between;
    min-width: fit-content;
    width: 100%;
    max-width: 800px;
    margin: auto;
    flex-direction: column-reverse;
}

.names-follow{
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 135px;
}

.user-details-container {
    width: 47%;
    width: 338px;
    background-color: #fff;
    display: flex;
    /* min-width: 150px; */
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
    height: 400px;
    margin: auto;
    /* margin-left: 40px; */
    margin-bottom: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19),
            0 6px 6px rgba(0, 0, 0, 0.23);
}

.user-details-container .heading{
    font-size: 20px;
    margin-bottom: 10px;
}

.user-details-container-item {
    margin: 10px;
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 8px 12px;
    /* box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19),
        0 6px 6px rgba(0, 0, 0, 0.23); */
    width: 150px;
    background-color: #fff;
    border-radius: 5px;
}

.body-container{
    width: 90%;
    max-width: 1200px;
    margin: auto;
}

.icon {
    padding: 12px 12px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
    background-color: #fff;
}

.item-up {
    width: 100%;
    text-align: left;
}

.repo-outer-box {
    margin-top: 150px;
    display: flex;
    flex-direction: column;
}

.statistics-container{
    background-color: #fff;
    border-radius: 5px;
    width: 46%;
    min-width: fit-content;
    margin: auto;
    margin-bottom: 30px;
    position: relative;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19),
            0 6px 6px rgba(0, 0, 0, 0.23);
}

.statistics-container .heading{
    font-size: 20px;
    position: absolute;
    top: 20px;
    left: 0;
    right: 0;
    width: fit-content;
    margin: auto;
}

.repo-container {
    background-color: #FFF;
    padding: 10px 20px;
    border-radius: 5px;
    max-width: 800px;
    margin: auto;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19),
            0 6px 6px rgba(0, 0, 0, 0.23);
}

.repo-item-container {
    position: relative;
    background-color: #FFF;
    margin: 20px 0px;
    padding: 10px 15px;
    display: flex;
    flex-direction: column;
    text-align: left;
    border-radius: 5px;
    cursor: pointer;
    border: 3px solid #2CAEBA;
    transition: all 0.6s ease;
}

.repo-item-container:hover {
    border: 3px solid #f7312a;
    background-color: #efefef;
}

.repo-container .heading {
    font-size: 25px;
    text-align: left;
    margin: 20px 0px;
}

.repo-heading {
    font-size: 20px;
    font-weight: 600;
}

.repo-desc {
    margin: 8px 0px;
}

.forks {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #2CAEBA;
    color: #FFF;
    padding: 5px 8px;
    border-radius: 20px;
}

.language {
    color: rgb(248, 76, 24);
    font-weight: 600;
}

.footer{
    padding: 15px 0px;
    background-color: #2CAEBA;
    color: #FFF;
    margin-top: 60px;
    font-size: 18px;
}

.company{
    font-family: 'Dancing Script', cursive;
    font-size: 20px;
}

@media all and (min-width: 475px) {
    .names-follow{
        flex-direction: row;
        right: 20px;
        justify-content: space-between;
    }
    .follow{
        margin-top: 0px;
    }
}

@media all and (min-width: 800px) {
.top-container{
    flex-direction: row;
}
.user-details-container{
    margin-top: 0px;
}
}